:root {
	--pink-color: #c38d9e;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	overflow-x: hidden;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: azure;
	overflow-x: hidden;
}

.grid {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: auto 1fr;
	border-radius: 12px;
	box-shadow: 0 8px 36px rgb(0 0 0 / 30%);
	width: min(1366px, 100%);
	height: max(750px, 75vh);
	background-color: #f7f7f7;
}

/* grid border-radius */
header {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.side-bar {
	border-bottom-left-radius: 8px;
}
.main-content {
	border-bottom-right-radius: 8px;
}
/* grid border-radius */

header {
	display: flex;
	align-items: center;
	grid-column: 1/-1;
	padding: 12px;
	background-color: var(--pink-color);
	color: white;
	font-size: 36px;
	font-weight: bold;
}

svg.menu-icon {
	display: none;
	width: 48px;
	height: 48px;
	margin-left: auto;
}

/* Sidebar */
.side-bar {
	display: flex;
	flex-direction: column;
	border-right: 1px solid rgba(0, 0, 0, 0.25);
	gap: 24px;
	padding: 24px;
	background-color: #eeeeee;
}

.side-bar[active] {
	display: flex;
	position: absolute;
	grid-row: 2/-1;
	top: 0px;
	right: 0px;
	width: 40vw;
	height: 100%;
	animation: menu-key-frame 0.1s ease 0s;
}

.side-bar[active] #btn-add {
	align-self: center;
}

.side-bar > div,
.side-bar section div {
	display: flex;
	align-items: center;
}

.side-bar * span:first-child {
	flex: 1;
	cursor: pointer;
}

.counter {
	display: flex;
	margin-left: auto;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #c38d9e;
	color: white;
	font-size: 18px;
	text-align: center;
}

main .side-bar * span:first-child:hover,
main span[active] {
	scale: 1.1;
}

main .side-bar * span:first-child:hover:before,
main span[active]:before {
	content: "> ";
	color: #c38d9e;
	font-weight: bold;
}

.side-bar div,
h3 {
	font-size: 28px;
}

#projects-container {
	display: flex;
	flex-direction: column;
	height: 110px;
	overflow-y: auto;
	gap: 12px;
	direction: rtl;
}

#projects-container .project {
	padding-left: 16px;
	font-size: 24px;
	direction: ltr;
}

#btn-add {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: auto;
	border-radius: 50%;
	border: none;
	width: 65px;
	height: 65px;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
	background-color: var(--pink-color);
	font-size: 72px;
	color: white;
	cursor: pointer;
}

#btn-add:hover {
	filter: brightness(90%);
}

#btn-add:active {
	scale: 0.95;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
/* Sidebar */

/* main-content */
.main-content {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 0px 24px;
	margin-top: 16px;
	margin-bottom: 36px;
	overflow-y: auto;
}
.notes-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(180px, 1fr));
	grid-auto-rows: minmax(180px, 1fr);
	gap: 12px;
	max-height: 100%;
}

.note-card {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 12px;
	background-color: #EEEEEE;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.note-card:hover {
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
	animation: note-hover-animation 0.2s ease-out 0s;
}

.note-card .btn-close {
	position: absolute;
	top: 6px;
	right: 8px;
	font-size: 18px;
}

.task-card {
	display: flex;
	align-items: center;
	padding: 12px;
	gap: 12px;
	background-color: #eeeeee;
	font-size: 22px;
}

.task-card:hover {
	scale: 1.01;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	animation: card-hover-animation 0.2s ease-out 0s;
}

.task-card .checkbox:checked + .task-name {
	text-decoration: line-through;
}

button {
	border: 1px solid #04c54e;
	border-radius: 3px;
	color: #04c54e;
	padding: 6px 12px;
	background-color: transparent;
	cursor: pointer;
	font-size: 16px;
}

button:hover {
	color: white;
	background-color: #04c54e;
}

button.task-details {
	margin-left: auto;
}

svg {
	pointer-events: none;
}

svg,
input {
	width: 22px;
	height: 22px;
}

input[type="checkbox"] {
	accent-color: rgb(0, 160, 0);
	cursor: pointer;
}

div.icon-container:hover {
	fill: lightgreen;
	cursor: pointer;
}
/* main-content */

/* new-form-container and edit-form-container */
.form-container {
	display: none;
}
.form-container[active] {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100vw;
	height: 100vh;
	backdrop-filter: blur(3px);
	background-color: rgba(0, 0, 0, 0.363);
}

.form-container form {
	box-shadow: 0 24px 46px rgba(0, 0, 0, 0.493);
	border-radius: 4px;
	width: 60%;
	height: 60%;
	animation: form-start-animation 0.3s ease-out 0s;
}

.form-container form[closed] {
	scale: 0;
	animation: form-close-animation 0.3s ease-out 0s;
}

.new-form-container form {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: auto 1fr;
}

.form-container header {
	display: flex;
}

.btn-close {
	margin-left: auto;
	cursor: pointer;
}

.form-container .content {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 24px;
	gap: 16px;
	background-color: #f7f7f7;
}

input.title,
textarea.details {
	width: 100%;
	font-size: 20px;
	border: none;
	outline: none;
	background-color: transparent;
}

.content input.date {
	width: 110px;
}

textarea.details {
	flex: 1;
	resize: none;
}

.form-container button {
	margin-top: auto;
}
/* new-form-container and edit-form-container */

/* Scrollbar style */
::-webkit-scrollbar {
	width: 8px;
	border-radius: 8px;
}
::-webkit-scrollbar-track {
	background: lightgray;
	border-radius: 8px;
}
::-webkit-scrollbar-thumb {
	background: var(--pink-color);
	border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--pink-color);
}
::-webkit-scrollbar-corner {
	border-radius: 8px;
}

.task-actions-container {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-shrink: 0;
	gap: 8px;
	align-items: center;
}
/* Scrollbar style */

@media (max-width: 500px) {
	.form-container form {
		width: 90%;
	}
}

@media (max-width: 750px) {
	h1 {
		font-size: 48px;
	}
	svg.menu-icon {
		width: 36px;
		height: 36px;
	}
}

@media (max-width: 850px) {
	svg.menu-icon {
		display: block;
	}

	main .side-bar {
		display: none;
	}
	.main-content {
		grid-column: 1/-1;
	}
}

@media (orientation: portrait) {
	.grid {
		height: 100vh;
	}
}

@keyframes menu-key-frame {
	from {
		right: -300px;
	}
	to {
		right: 0px;
	}
}

@keyframes form-start-animation {
	from {
		scale: 0;
	}
	to {
		scale: 1;
	}
}

@keyframes form-close-animation {
	from {
		scale: 1;
	}
	to {
		scale: 0;
	}
}

@keyframes card-hover-animation {
	from {
		scale: 1;
		box-shadow: none;
	}
	to {
		scale: 1.01;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
}

@keyframes note-hover-animation {
	from {
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
	}
	to {
		box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
	}
}
