:root {
	--pink-color: #c38d9e;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: azure;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: auto 1fr;
    border-radius: 12px;
    box-shadow: 0 8px 36px rgb(0 0 0 / 30%);
	width: 75%;
	height: 75%;
}

/* grid border-radius */
header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.side-bar {
    border-bottom-left-radius: 8px;
}
.main-content {
    border-bottom-right-radius: 8px;
}
/* grid border-radius */

header {
	grid-column: 1/-1;
	padding: 12px;
	background-color: var(--pink-color);
	color: white;
	font-size: 36px;
	font-weight: bold;
}

/* Sidebar */
.side-bar {
	display: flex;
	flex-direction: column;
	gap: 24px;
    padding: 24px;
    background-color: #EEEEEE;
}

.side-bar > div, .side-bar section div{
    display: flex;
    align-items: center;
}

.side-bar * span:first-child {
    flex: 1;
    cursor: pointer;
}

.counter {
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #c38d9e;
    color: white;
    font-size: 18px;
    text-align: center;
}

.side-bar * span:first-child:hover{
    scale: 1.1;
}

.side-bar * span:first-child:hover:before{
    content: "> ";
    color: #c38d9e;
    font-weight: bold;
}

.side-bar div, h3 {
    font-size: 28px;
}

#projects-container {
	display: flex;
	flex-direction: column;
    height: 110px;
    overflow-y: auto;
	gap: 12px;
    direction:rtl;
}

#projects-container .project {
	padding-left: 16px;
	font-size: 24px;
    direction:ltr;
}

#btn-add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    border-radius: 50%;
    border: none;
    width: 65px;
    height: 65px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--pink-color);
    font-size: 72px;
    color: white;
    cursor: pointer;
}

#btn-add:hover {
    filter: brightness(90%);
}
/* Sidebar */


/* main-content */
.main-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px;
    overflow-y: auto;
}

.task-card {
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 12px;
    background-color: #EEEEEE;
    font-size: 22px;
}

button.task-details {
    border: 1px solid #04c54e;
    border-radius: 3px;
    color: #04c54e;
    padding: 6px 12px;
    background-color: transparent;
    margin-left: auto;
    cursor: pointer;
    font-size: 16px;
}

button.task-details:hover {
    color: white;
    background-color: #04c54e;
}

svg,input {
    width: 22px;
    height: 22px;
}

input {
    accent-color: rgb(0, 160, 0);
    cursor: pointer;
}

svg:hover {
    fill: lightgreen;
    cursor: pointer;
}
/* main-content */


/* Scrollbar style */
  ::-webkit-scrollbar {
    width: 8px;
    border-radius: 8px;
  }
  ::-webkit-scrollbar-track {
    background: lightgray;
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--pink-color);
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--pink-color);
  }
  ::-webkit-scrollbar-corner {
    border-radius: 8px;
  }
  /* Scrollbar style */